.active {
    background-color: #4d1979;
}
li {
    color: #4d1979;
    padding-left: 5px;
    padding-right: 5px;
}

nav {
    text-align: center;
}

h1 {
    text-align: center;
}

a:link, a:visited{
    color: #4d1979;
}

a.active {
    color: white;
}